*.iml
*.ipr
*.iws
.idea
.gradle
.DS_Store
target
# Local configuration file (sdk path, etc)
local.properties
/local.properties
google-services.json
app/google-services.json
/.idea/workspace.xml
/.idea/libraries
/build
build
/captures
*~
gen
*.stackdump
